.kitchen {
  &-menu {
    width: 244px;
    margin: 0 auto 40px;
    padding: 10px 20px 7px 20px;
    background: #fff;
    border-radius: 5px;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #210E09;
    text-align: center;
    text-transform: uppercase;
  }

  &-title {
    margin-bottom: 80px;
  }

  &-list {
    margin-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 56px;

    @media (max-width: 1199.98px) {
      justify-content: center;
    }
  }

  &-item {
    max-width: 486px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
      flex-direction: column;
    }

    @media (max-width: 576px) {
      max-width: none;
      width: 100%;
    }

    img {
      @media (max-width: 576px) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &__content {
      margin-left: 25px;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__name {
      font-family: 'Gotham Pro', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 0.05em;
      color: #fff;
      text-transform: uppercase;
    }

    &__price {
      display: block;
      padding: 10px 20px;
      border-radius: 5px;
      border: 2px solid #D5621D;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05em;
      color: #fff;
      text-transform: uppercase;
    }

    &__weight {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #D5621D;
    }

    &__descr {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #fff;
    }
  }

  &__btn {
    margin: 0 auto;
  }
}