@font-face {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/Stolzl-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/GothamPro.woff") format("woff");
  font-display: swap;
}